{% load i18n %} 
<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    {% block extrahead %}{% endblock%}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/reset.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/isrs.css" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  </head>
  <body>
    <div class="container">
      <header>
        <h1>International Student Research Symposium</h1>

        {% if user.is_authenticated %}        
        <nav>
          <ul>
            <li><a href="{% url home %}">{% trans "Home" %}</a></li>
            <li>{% trans "Logged in as" %} {{ user.username }} <a href="{% url logout %}">{% trans "Log out" %}</a></li>
            <li><a href="{% url calendar_today %}">{% trans "Calendar" %}</a></li>
          </ul>
        </nav>
        {% endif %}

      </header>

      <div class="content">
        {% if messages %}
        <ul class="messages">
          {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
          {% endfor %}
        </ul>
        {% endif %}
        {% block content %}{% endblock %}
      </div>
      <footer>
        Copyright &copy; International Student Research Symposium 2013
      </footer>
    </div>
    <script>
    $(document).ready(function() {
      $('.more-info').show();
      $('.more-info').click(function() { $(this).parent().find('table').toggle() });
    });
    </script>
  </body>
</html>

