{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans "Create a meeting" %}{% endblock %}

{% block extrahead %}
        <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}/css/widgets.css" />

        <script type="text/javascript">window.__admin_media_prefix__ = "{{STATIC_URL}}admin/";</script>
        <script type="text/javascript" src="/bbb/admin/jsi18n/"></script>
        <script type="text/javascript" src="{{STATIC_URL}}js/core.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}js/calendar.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}js/DateTimeShortcuts.js"></script>
{% endblock%}

{% block content %}
<h2>{% trans "Create Meeting" %}</h2>
<form action="" method ="POST">
<table>
    {% csrf_token %}
    {{form}}
    <!--<input name="date" value="{%now "Y-m-d"%}" class="vDateField" type="text" id="query_date" size="10" /> --> 
    <tr>
        <th></th>
        <td><input type="submit" value="{% trans "create" %}"></td>
    </tr>
</table>
</form>
{% endblock %}
