{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Home" %}{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<ul class="large">
    <li><a href="{% url create %}">{% trans "Create Meeting" %}</a></li>
    <li><a href="{% url meetings %}">{% trans "Meetings" %}</a></li>
</ul>
{% else %}
<p>Welcome to the ISRS' web conferencing service. If you are here to attend a presentation then you should have been issued a URL to log into the meeting, if you haven't please <a href="http://studentresearchsymposium.com/contactus.php">contact us</a>.</p>
{% endif %}
{% endblock %}
