{% extends "base.html" %} 

{% load i18n %}

{% block title %}{% trans "Join meeting" %}{% endblock %}

{% block content %}
<form action="" method="POST">
{% csrf_token %}
<h2>{% trans "Join meeting" %} '{{ meeting_name }}'</h2>
<p>{% blocktrans %} "Invite others to this meeting with <a href="/meeting/{{ meeting_name }}/join">this URL</a>{% endblocktrans %}</p>
<table>
    {{form}}
    <tr>
        <th></th>
        <td>
            <input type="submit" value="{% trans "Join" %}">
        </td>
    </tr>
</table>
</form>
{% endblock %}
