{% extends "base.html" %} 

{% load i18n %}

{% block title %}{% trans "Join presentation" %}{% endblock %}

{% block content %}
<form action="" method="POST" id="join_meeting">
{% csrf_token %}
<h2>{% trans "Join presentation" %} &#8216;{{ meeting_name }}&#8217;</h2>
<p>Invite others to this presentation via the following link:<br/>
<a href="/meeting/{{ meeting_id }}/join">http://studentresearchsymposium.com/meeting/{{ meeting_id }}/join</a>
</p>
<table>
    {{form}}
    <tr>
        <th></th>
        <td>
            <input type="submit" value="{% trans "Join" %}">
            <small><a href="#modernator" id="toggle_modernator">Are you a modernator?</a></small>
        </td>
    </tr>
</table>
</form>
<script>
$(function () {
  var pw_field = $('#id_password').parent().parent();
  pw_field.hide();
  $('#modernator').on('click', function () {
    pw_field.show();
    $(this).hide();
  });
});
</script>
{% endblock %}
