{% extends "base.html" %} 

{% load i18n %}

{% block title %}{% trans "Join presentation" %}{% endblock %}

{% block content %}
<form action="" method="POST" id="join_meeting">
{% csrf_token %}
<h2>{% trans "Join presentation" %} '{{ meeting_name }}'</h2>
<p>Invite others to this presentation via the following link:<br/>
<a href="/meeting/{{ meeting_id }}/join">http://studentresearchsymposium.com/meeting/{{ meeting_id }}/join</a>
</p>
<table>
    {{form}}
    <tr>
        <th></th>
        <td>
            <input type="submit" value="{% trans "Join" %}">
        </td>
    </tr>
</table>
</form>
{% endblock %}
