{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans "Meetings" %}{% endblock %}

{% block content %}
<h2>{% trans "Meetings" %}</h2>
{% if meetings %}
    <ul class="large">
    {% for meeting in meetings %}
        <li>{{ meeting.name }} <a class="more-info">{% trans "view details" %}</a>
            <span class="right">
            {% if meeting.info.end_time == "0" %}
              {% if meeting.running == 'true'  %}
                <span class="status running">{% trans "Running" %}</span>
              {% else %}
                <span class="status notrunning">{% trans "Not running" %}</span>
              {% endif %}
              <form method="GET" action="{% url join meeting.name %}"><input type="submit" value="{% trans "Join" %}"></form> <form method="POST" action="{% url delete meeting.name meeting.moderator_pw %}">{% csrf_token %}<input type="submit" value="{% trans "End" %}"></form>
            {% else %}
                <span class="status notrunning">{% trans "Ended" %}</span>
            {% endif %}
            </span>
            <table>
                {% for item in meeting.info.items %}
                <tr>
                <th>{{ item.0 }}</td>
                <td>{{ item.1 }}</td>
                </tr>
                {% endfor %}
            </table>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>{% trans "There are no meetings at the moment." %}</p>
{% endif %}
{% endblock %}
